@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

[x-cloak] {
    display: none;
}

.codehilite {
    background: none !important;
}

.btn {
    @apply inline-flex px-4 py-2 font-medium text-white bg-blue-600 hover:bg-blue-500 rounded-md gap-1 items-center;
}

.btn-cyan {
    @apply inline-flex px-4 py-2 font-medium text-white bg-cyan-600 hover:bg-cyan-500 rounded-md gap-1 items-center;
}

/** I/O table in problem statements **/
.io {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-4 my-5;
}

.io h3 {
    @apply mt-0;
}

.io pre {
    @apply m-0;
}

.input {
    @apply block w-full bg-gray-950 text-gray-300 rounded-md border-transparent;
}
