{% load markdownify %}

<div class="mb-5">
    <b>Tagy: </b>
    {% for tag in problem.tags.all %}
        <a class="bg-blue-900 rounded-md no-underline p-2 m-1" href="{% url 'problem_list' %}?tags={{ tag }}">
            {{ tag }}
        </a>
    {% endfor %}
</div>
<div class="mb-5">
    <b>Obtiažnosť:</b>
    {% if problem.difficulty == problem.ProblemDifficulty.EASY %}
        <a class="bg-green-900 rounded-md p-2 m-1 no-underline" data-tippy-content="Úloha by mala byť zvládnuteľná bez väčších problémov." href="{% url 'problem_list' %}?difficulty=easy">
            easy
        </a>
    {% elif problem.difficulty == problem.ProblemDifficulty.MEDIUM %}
        <a class="bg-orange-900 rounded-md p-2 m-1 no-underline" data-tippy-content="Úloha nemusí mať úplne priamočiare riešenie." href="{% url 'problem_list' %}?difficulty=medium">
            medium
        </a>
    {% elif problem.difficulty == problem.ProblemDifficulty.HARD %}
        <a class="bg-red-900 rounded-md p-2 m-1 no-underline" data-tippy-content="Úloha vyžaduje pokročilé vedomosti z iných kurzov." href="{% url 'problem_list' %}?difficulty=hard">
            hard
        </a>
    {% endif %}
</div>
{{ problem.content|markdownify }}
