{% extends 'common/base.html' %}
{% load percent %}
{% load submits %}

{% block title %}{{ problem.name }} {{ block.super }}{% endblock %}

{% block body_class %}min-h-screen flex flex-col{% endblock %}

{% block body %}
    <div class="flex grow flex-col lg:flex-row">
        <div class="grow px-6 py-8">
            <div class="mx-auto prose prose-invert">
                {% include "problems/_partials/problem_statement.html" with problem=problem %}
            </div>
        </div>
        <aside class="bg-gray-800 lg:border-l border-b lg:border-b-0 border-gray-600 lg:w-96 xl:w-128 p-6 text-gray-400">
            {% if user.is_authenticated %}

                <h2 class="text-white font-bold text-2xl mb-4">Odovzdávanie programu</h2>

                <div class="bg-gray-900 p-2 rounded-md">
                    {% submit_form problem %}
                </div>

                {% if user.is_staff %}
                    <a href="{% url 'admin:problems_submit_changelist' %}?problem__slug={{ problem.slug }}" class="btn mt-10">
                        <i data-feather="list" class="h-4"></i>
                        Zobraz všetky submity
                    </a>
                {% endif %}

                {% if submits %}
                <h2 class="text-white font-bold text-2xl mt-10 mb-4">Posledné submity</h2>
                {% submit_list submits %}
                {% endif %}
            {% else %}
                <div class="w-full rounded-md px-4 py-3 bg-red-900 border border-red-600 text-white">
                    Ak chceš odovzdať riešenie tejto úlohy, musíš sa najskôr <a href="{% url 'oidc_authentication_init' %}" class="underline hover:text-red-300">prihlásiť</a>.
                </div>
            {% endif %}
        </aside>
    </div>
{% endblock %}
