{% extends 'common/base.html' %}
{% load code %}
{% load submits %}
{% load markdownify %}

{% block title %}Protokol testovania {{ block.super }}{% endblock %}

{% block body_class %}min-h-screen flex flex-col{% endblock %}

{% block body %}
<div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="w-full p-8 bg-black overflow-auto">
        <div class="codehilite">
            {% highlight submit.program submit.language %}
        </div>
    </div>

    <div class="w-full p-8 max-lg:order-first">
        <a href="{{ back_url }}" class="btn mb-6">
            <i data-feather="arrow-left" class="h-4 w-4"></i>
            Späť
        </a>

        <h1 class="text-white font-bold text-3xl mb-6">Protokol testovania</h1>
        {% include "problems/_protocol.html" %}

        <h2 class="text-white font-bold text-2xl mb-4 mt-12">Odovzdávanie programu</h2>
        {% submit_form submit.problem lesson_item_id=lesson_item_id %}

        <h2 class="text-white font-bold text-2xl mt-12 mb-4">Posledné submity</h2>
        {% submit_list submits lesson_item_id=lesson_item_id %}
    </div>
</div>
{% endblock %}
