{% load submits %}
<div class="flex flex-col gap-2">
    {% for submit in submits %}
    <a href="{% url "submit_detail" submit.problem.slug submit.id %}{% if lesson_item_id %}?liid={{ lesson_item_id }}{% endif %}" class="flex gap-2 flex-col lg:flex-row bg-gray-800 hover:bg-gray-700 text-gray-300 px-4 py-3 rounded-md lg:items-center">
        <div>{{ submit.created_at }}</div>
        {% if not lesson_item_id and submit.lesson_item %}
        <div class="text-sm text-gray-500">(z kurzu {{ submit.lesson_item.lesson.course.name }})</div>
        {% endif %}

        <div class="lg:ml-auto flex gap-3 items-center">
            {% if submit.result_color == "green" %}
            <div class="bg-green-600 text-white font-bold px-2 py-1 text-sm rounded-md">{{ submit.status_pretty }}</div>
            {% elif submit.result_color == "orange" %}
            <div class="bg-orange-500 text-white font-bold px-2 py-1 text-sm rounded-md">{{ submit.status_pretty }}</div>
            {% elif submit.result_color == "red" %}
            <div class="bg-red-600 text-white font-bold px-2 py-1 text-sm rounded-md">{{ submit.status_pretty }}</div>
            {% elif submit.result_color == "gray" %}
            <div class="bg-gray-600 text-white font-bold px-2 py-1 text-sm rounded-md">{{ submit.status_pretty }}</div>
            {% endif %}
        </div>
    </a>
    {% endfor %}
</div>
