

{% for batch in batches %}
<div class="flex gap-1 mt-1 text-white">
    <div class="bg-gray-800 w-12 h-12 flex flex-none items-center justify-center rounded-md text-xs">{{ batch.score }}%</div>
    <div class="flex gap-1 flex-wrap">
        {% for test in batch.tests %}
            {% if test.result == "OK" %}
            <div class="bg-green-600 w-12 h-12 flex items-center justify-center rounded-md" data-tippy-content="OK ({{ test.time }} ms)"><i data-feather="check" class="w-5"></i></div>
            {% elif test.result == "WA" %}
            <a class="bg-red-600 w-12 h-12 flex items-center justify-center rounded-md" data-tippy-content="Zlá odpoveď ({{ test.time }} ms)" href="#{{ test.name }}"><i data-feather="x" class="w-5"></i></a>
            {% elif test.result == "TLE" %}
            <div class="bg-orange-500 w-12 h-12 flex items-center justify-center rounded-md" data-tippy-content="Časový limit vypršal ({{ test.time }} ms)"><i data-feather="clock" class="w-5"></i></div>
            {% elif test.result == "EXC" %}
            <div class="bg-orange-500 w-12 h-12 flex items-center justify-center rounded-md" data-tippy-content="Chyba počas behu programu ({{ test.time }} ms)"><i data-feather="alert-triangle" class="w-5"></i></div>
            {% elif test.result == "MLE" %}
            <div class="bg-orange-500 w-12 h-12 flex items-center justify-center rounded-md" data-tippy-content="Prekročený limit pamäte ({{ test.time }} ms)"><i data-feather="triangle" class="w-5"></i></div>
            {% else %}
            <div class="bg-gray-600 w-12 h-12 flex items-center justify-center rounded-md"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}


<div class="text-white mt-6 space-y-4">
{% for test in protocol.tests %}
    {% if test.details %}
        <div id="{{ test.name }}">
            <div class="text-sm text-gray-300 mb-1">
                Výsledok pre <code>{{ test.name }}</code>:
            </div>
            <div class="bg-black p-3 rounded-md">
                <pre>{{ test.details }}</pre>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>