{% if protocol.final_verdict == "CEX" %}

    <div class="w-full rounded-md px-4 py-3 bg-orange-600 border border-gray-600 text-white">
        <p>Chyba počas kompilácie</p>
        <p class="text-sm mt-1 text-gray-300">
            Počas kompilácie tvojho programu sa vyskytla chyba
        </p>
    </div>

    <div class="text-white bg-black p-3 rounded-md mt-4 overflow-x-auto">
        <pre>{{ protocol.log }}</pre>
    </div>

{% else %}

    {% for batch in batches %}
    <div class="flex gap-1 mt-1 text-white">
        <div class="bg-gray-800 w-12 h-12 flex flex-none items-center justify-center rounded-md text-xs" data-tippy-content="Sada: {{ batch.name }}">{{ batch.score }}%</div>
        <div class="flex gap-1 flex-wrap">
            {% for test, _ in batch.tests %}
                <a
                    class="w-12 h-12 flex items-center justify-center rounded-md {% if test.verdict.color == "gray" %}bg-gray-600 text-gray-300{% elif test.verdict.color == "red" %}bg-red-600 text-white{% elif test.verdict.color == "green" %}bg-green-600 text-white{% elif test.verdict.color == "orange" %}bg-orange-500 text-white{% elif test.verdict.color == "yellow" %}bg-yellow-500 text-white{% endif %}"
                    data-tippy-content="{{ test.name }}: {{ test.verdict.human_name }} {% if test.stats %}({{ test.stats.cpu_time }} ms){% endif %}"
                    href="#{{ test.name }}"
                >
                    <i data-feather="{{ test.verdict.icon }}" class="w-5"></i>
                </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}


    <div class="text-white mt-6 space-y-4">
    {% for batch in batches %}
        {% for test, visible in batch.tests %}
            {% if test.log and visible %}
                <div id="{{ test.name }}">
                    <div class="text-sm text-gray-300 mb-1">
                        Výsledok pre <code>{{ test.name }}</code>:
                    </div>
                    <div class="bg-black p-3 rounded-md">
                        <pre>{{ test.log }}</pre>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>

{% endif %}
