{% if protocol.result == "CERR" %}

    <div class="w-full rounded-md px-4 py-3 bg-orange-600 border border-gray-600 text-white">
        <p>Chyba počas kompilácie</p>
        <p class="text-sm mt-1 text-gray-300">
            Počas kompilácie tvojho programu sa vyskytla chyba
        </p>
    </div>

    <div class="text-white bg-black p-3 rounded-md mt-4 overflow-x-auto">
        <pre>{{ protocol.compile_log }}</pre>
    </div>

{% else %}

    {% for batch in batches %}
    <div class="flex gap-1 mt-1 text-white">
        <div class="bg-gray-800 w-12 h-12 flex flex-none items-center justify-center rounded-md text-xs">{{ batch.score }}%</div>
        <div class="flex gap-1 flex-wrap">
            {% for test, _ in batch.tests %}
                {% if test.result == "OK" %}
                <div class="bg-green-600 w-12 h-12 flex items-center justify-center rounded-md" data-tippy-content="OK ({{ test.time }} ms)"><i data-feather="check" class="w-5"></i></div>
                {% elif test.result == "WA" %}
                <a class="bg-red-600 w-12 h-12 flex items-center justify-center rounded-md" data-tippy-content="Zlá odpoveď ({{ test.time }} ms)" href="#{{ test.name }}"><i data-feather="x" class="w-5"></i></a>
                {% elif test.result == "TLE" %}
                <div class="bg-orange-500 w-12 h-12 flex items-center justify-center rounded-md" data-tippy-content="Časový limit vypršal ({{ test.time }} ms)"><i data-feather="clock" class="w-5"></i></div>
                {% elif test.result == "EXC" %}
                <div class="bg-orange-500 w-12 h-12 flex items-center justify-center rounded-md" data-tippy-content="Chyba počas behu programu ({{ test.time }} ms)"><i data-feather="alert-triangle" class="w-5"></i></div>
                {% elif test.result == "MLE" %}
                <div class="bg-orange-500 w-12 h-12 flex items-center justify-center rounded-md" data-tippy-content="Prekročený limit pamäte ({{ test.time }} ms)"><i data-feather="triangle" class="w-5"></i></div>
                {% else %}
                <div class="bg-gray-600 w-12 h-12 flex items-center justify-center rounded-md"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}


    <div class="text-white mt-6 space-y-4">
    {% for batch in batches %}
        {% for test, visible in batch.tests %}
            {% if test.details and visible %}
                <div id="{{ test.name }}">
                    <div class="text-sm text-gray-300 mb-1">
                        Výsledok pre <code>{{ test.name }}</code>:
                    </div>
                    <div class="bg-black p-3 rounded-md">
                        <pre>{{ test.details }}</pre>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>

{% endif %}
