<!DOCTYPE html>
{% load static %}
{% load django_htmx %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}| KSP School{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Fira+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="{% static 'code.css' %}">
    <link rel="stylesheet" href="{% static 'bundle.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
</head>
<body class="antialiased bg-gray-900 {% block body_class %}{% endblock %}">
    <nav class="bg-gray-700 border-b border-gray-500 py-4 text-gray-300 px-4 flex-none flex items-center gap-8">
        <a href="/" class="flex items-center gap-2 font-bold text-white hover:text-gray-300">
            <img src="{% static 'logo.svg' %}" alt="Logo KSP School" class="h-8">
            KSP School
        </a>

        <a href="{% url 'course_list' %}" class="text-white hover:text-gray-300">
            Kurzy
        </a>

        <div class="ml-auto text-sm">
            {% if user.is_authenticated %}
            <div class="relative select-none" x-data="{ open: false }">
                <button class="flex gap-1.5 items-center cursor-pointer" id="main-nav-dropdown"
                        x-on:click="open = !open" :aria-expanded="open" aria-controls="main-nav-dropdown-tray">
                    <img class="w-6 h-6 bg-gray-100 rounded-full shadow-inner" src="https://id.trojsten.sk/profile/{{ user.username }}/avatar">
                    <span class="font-medium">{{ user.get_full_name }}</span>
                    <i data-feather="chevron-down" class="w-4 h-4"></i>
                </button>

                <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-gray-800 border border-gray-600 text-white text-sm"
                     id="main-nav-dropdown-tray" x-show="open" x-on:click.outside="open = false" x-cloak>
                    <div class="py-1" role="none">
                        <a href="{% url 'oidc_logout' %}" class="hover:bg-gray-700 block px-4 py-2" role="menuitem" tabindex="-1">Odhlásiť sa</a>
                    </div>
                </div>
            </div>
            {% else %}
                <a href="{% url 'oidc_authentication_init' %}">Prihlásiť sa</a>
            {% endif %}
        </div>
    </nav>

    {% block body %}{% endblock %}

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>

    <script src="{% static "bundle.js" %}"></script>
    {% django_htmx_script %}

    {% if not debug %}
    <script defer data-domain="school.ksp.sk" src="https://analytics.trojsten.sk/js/script.js"></script>
    {% endif %}
</body>
