<div class="flow-root">
    <ul role="list" class="-mb-8">
        <li>
            <div class="relative pb-8">
                <span class="absolute left-2.5 top-2.5 -ml-px h-full w-0.5 bg-gray-600" aria-hidden="true"></span>
                <div class="relative flex space-x-3  text-sm">
                    <div class="h-5 w-5 rounded-full bg-gray-600 flex items-center justify-center ring-8 ring-gray-800"></div>
                    <p class="text-gray-200 font-bold">1974</p>
                    <p class="text-gray-400">Počítač Altair 8800</p>
                </div>
            </div>
        </li>
        <li>
            <div class="relative pb-8">
                <span class="absolute left-2.5 top-2.5 -ml-px h-full w-0.5 bg-gray-600" aria-hidden="true"></span>
                <div class="relative flex space-x-3  text-sm">
                    <div class="h-5 w-5 rounded-full bg-blue-600 flex items-center justify-center ring-8 ring-gray-800"></div>
                    <p class="text-gray-200 font-bold">1983</p>
                    <p class="text-gray-400">Vznik Korešpondenčného seminára z programovania</p>
                </div>
            </div>
        </li>
        <li>
            <div class="relative pb-8">
                <span class="absolute left-2.5 top-2.5 -ml-px h-full w-0.5 bg-gray-600" aria-hidden="true"></span>
                <div class="relative flex space-x-3  text-sm">
                    <div class="h-5 w-5 rounded-full bg-blue-600 flex items-center justify-center ring-8 ring-gray-800"></div>
                    <p class="text-gray-200 font-bold">2005</p>
                    <p class="text-gray-400">Vzdelávací projekt Programátorská liaheň</p>
                </div>
            </div>
        </li>
        <li>
            <div class="relative pb-8">
                <span class="absolute left-2.5 top-2.5 -ml-px h-full w-0.5 bg-gray-600" aria-hidden="true"></span>
                <div class="relative flex space-x-3  text-sm">
                    <div class="h-5 w-5 rounded-full bg-blue-600 flex items-center justify-center ring-8 ring-gray-800"></div>
                    <p class="text-gray-200 font-bold">2010</p>
                    <p class="text-gray-400">Nová Programátorská liaheň</p>
                </div>
            </div>
        </li>
        <li>
            <div class="relative pb-8">
                <div class="relative flex space-x-3  text-sm">
                    <div class="h-5 w-5 rounded-full bg-blue-600 flex items-center justify-center ring-8 ring-gray-800"></div>
                    <p class="text-gray-200 font-bold">2015</p>
                    <p class="text-gray-400">Prvá Letná škola Programovania</p>
                </div>
            </div>
        </li>
    </ul>
</div>
