
<div class="overflow-hidden rounded-md w-full max-w-xl shadow-lg">
    <div class="bg-gray-900 text-white font-bold text-sm px-3 py-2 flex items-center gap-1">
        <div class="w-3 h-3 rounded-full bg-red-400"></div>
        <div class="w-3 h-3 rounded-full bg-yellow-400"></div>
        <div class="w-3 h-3 rounded-full bg-green-400"></div>
    </div>
    <div class="bg-gray-700 p-3 text-sm text-white">
        <p class="text-lg font-bold mb-1">Prioritná fronta</p>

        <p>Naším hlavným cieľom v tomto článku bude efektívna implementácia takzvanej prioritnej fronty. Toto je dátová štruktúra, ktorá vie efektívne robiť dve operácie:</p>

        <ul class="mt-2 list-outside list-disc ml-6">
            <li><code>push(prvok,priorita):</code> vlož nový prvok a nastav mu konkrétnu prioritu</li>
            <li><code>pop():</code> vyber prvok, ktorý má spomedzi všetkých aktuálne uložených prvkov najväčšiu prioritu</li>
        </ul>

        <p class="mt-2">Prioritnú frontu si teda vieme predstaviť ako čakáreň na pohotovosti...</p>
    </div>
</div>
