{% extends 'common/base.html' %}
{% load markdownify %}

{% block title %}{{ course.name }} {{ block.super }}{% endblock %}

{% block body %}
    <div class="container mx-auto flex flex-col lg:flex-row py-10 lg:py-20 px-6 lg:items-center gap-2 lg:gap-6">
        {% if course.image %}
        <img src="{{ course.image.url }}" class="w-20 h-20 border border-gray-600 rounded-md shadow-inner">
        {% endif %}

        <div>
            <a href="{% url "course_list" %}" class="items-center inline-flex text-blue-300 gap-1 mb-4 hover:text-blue-400 hover:underline"><i data-feather="arrow-left" class="w-4 h-4"></i> Späť na zoznam kurzov</a>
            
            <h1 class="tracking-tight text-3xl text-white font-bold lg:text-5xl">{{ course.name }}</h1>
            <div class="mt-2 lg:mt-4 prose prose-invert max-w-none">
                {{ course.description|markdownify }}
            </div>
        </div>
    </div>

    {% if done %}
        <div class="container mx-auto mb-10 lg:mb-20 p-8 lg:items-center gap-2 lg:gap-6 text-white bg-green-800 border border-green-600 rounded-md">
            <p class="font-bold">
                🎉 Gratulujeme, úspešne si dokončil tento kurz!
            </p>

            {% with course.recommended_courses.all as next %}
            {% if next|length %}
                <p class="mt-2">
                    Asi sa pýtaš, čo ďalej, a my to vieme. Môžeš pokračovať týmito kurzami:
                </p>
                <ul class="list-inside list-disc mt-2 ml-4">
                {% for course in next %}
                    <li><a href="{% url 'course_detail' course.slug %}" class="text-blue-300 hover:text-blue-400 underline">{{ course }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
    {% endif %}

    <div class="container mx-auto px-6">
        <div class="flex flex-col md:flex-row text-white items-center overflow-x-auto gap-4">
            {% for layer in layers %}
                <div class="gap-2 flex flex-col">
                    {% for lt in layer %}
                    <a href="{% url 'lesson' course.slug lt.lesson.slug %}" class="px-3 py-2 border rounded-md flex items-center gap-2 {% if not lt.tracker %}border-gray-700 bg-gray-800{% elif lt.tracker.state == lt.tracker.state.STARTED %}border-blue-600 bg-blue-800{% elif lt.tracker.state == lt.tracker.state.COMPLETE %}border-green-600 bg-green-800{% elif lt.tracker.state == lt.tracker.state.FASTFORWARD %}border-cyan-600 bg-cyan-800{% endif %}">
{#                            <div data-tippy-content="Checkpoint">#}
{#                                <i class="w-4 h-4" data-feather="flag"></i>#}
{#                            </div>#}

                        {{ lt.lesson.name }}

                        {% if lt.tracker %}
                            <div class="ml-auto shrink-0">
                                {% if lt.tracker.state == lt.tracker.state.STARTED %}
                                <span class="text-xs text-blue-300">{{ lt.tracker.completed }}/{{ lt.tracker.total }}</span>
                                {% elif lt.tracker.state == lt.tracker.state.COMPLETE %}
                                <i class="w-4 h-4 text-green-400" data-feather="check"></i>
                                {% elif lt.tracker.state == lt.tracker.state.FASTFORWARD %}
                                <div data-tippy-content="Túto lekciu si preskočil/-a">
                                    <i class="w-4 h-4 text-cyan-500" data-feather="fast-forward"></i>
                                </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>

                {% if not forloop.last %}
                <i data-feather="chevron-right" class="text-gray-500 hidden md:block"></i>
                <i data-feather="chevron-down" class="text-gray-500 md:hidden"></i>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
