{% extends 'common/base.html' %}
{% load markdownify %}

{% block title %}{{ course.name }} {{ block.super }}{% endblock %}

{% block body %}

    <div class="container mx-auto flex flex-col lg:flex-row py-10 lg:py-20 px-6 lg:items-center gap-2 lg:gap-6">
        {% if course.image %}
        <img src="{{ course.image.url }}" class="w-20 h-20 border border-gray-600 rounded-md shadow-inner">
        {% endif %}

        <div>
            <h1 class="tracking-tight text-3xl text-white font-bold lg:text-5xl">{{ course.name }}</h1>
            <div class="mt-2 lg:mt-4 prose prose-invert max-w-none">
                {{ course.description|markdownify }}
            </div>
        </div>
    </div>

    <div class="container mx-auto px-6">
        <div class="flex flex-col md:flex-row text-white items-center overflow-x-auto gap-4">
            {% for layer in layers %}
                <div class="gap-2 flex flex-col">
                    {% for lesson in layer %}
                    <a href="{% url 'lesson' course.slug lesson.slug %}" class="px-3 py-2 border border-gray-600 bg-gray-800 rounded-md flex items-center gap-2">
                        {{ lesson.name }}
                        <i class="w-4 h-4 ml-auto text-gray-500" data-feather="x"></i>
                    </a>
                    {% endfor %}
                </div>

                {% if not forloop.last %}
                <i data-feather="chevron-right" class="text-gray-500 hidden md:block"></i>
                <i data-feather="chevron-down" class="text-gray-500 md:hidden"></i>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
