{% extends 'common/base.html' %}
{% load percent %}
{% load submits %}
{% load markdownify %}

{% block title %}{{ item.name }} {{ block.super }}{% endblock %}

{% block body_class %}min-h-screen flex flex-col{% endblock %}

{% block body %}

    <div class="flex grow flex-col lg:flex-row">
        <aside class="bg-gray-800 lg:border-r border-b lg:border-b-0 border-gray-600 lg:w-80 flex flex-col p-6 text-gray-400 ">
            <div class="flex flex-col lg:flex-row lg:items-center gap-4">
                {% if lesson.course.image %}
                <img src="{{ lesson.course.image.url }}" class="w-16 h-16 border border-gray-600 rounded-md shadow-inner">
                {% endif %}

                <div class="text-white">
                    <a href="{% url 'course_detail' lesson.course.slug %}" class="font-medium text-gray-300 text-base">{{ lesson.course.name }}</a>
                    <div class="font-bold text-xl lg:text-2xl">{{ lesson.name }}</div>
                </div>
            </div>

            {% if user.is_authenticated %}
                <div class="rounded-md bg-gray-700 w-full h-2 mt-2 lg:mt-4">
                    <div class="rounded-md {% if tracker.state == tracker.state.COMPLETE %}bg-green-500{% else %}bg-blue-600{% endif %} h-2" style="width: {% percent tracker.completed tracker.total %}%"></div>
                </div>
            {% endif %}

            <hr class="my-4 lg:my-6 border-gray-600">

            <nav class="flex">
                <ul class="flex flex-col gap-1 lg:gap-2 lg:text-base text-sm w-full">
                    {% for it in items %}
                    <li>
                        <a href="{% url 'lesson' lesson.course.slug lesson.slug it.item.slug %}" class="flex gap-1.5 items-center {% if item == it.item %}text-white font-bold{% endif %}">
                            <i data-feather="{% if it.item.problem %}code{% else %}file-text{% endif %}" class="w-4 h-4"></i>

                            {{ it.item.name }}

                            {% if it.tracker and it.tracker.state == it.tracker.state.COMPLETE %}
                                <i data-feather="check" class="ml-auto w-4 h-4 text-green-500"></i>
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>

        <div class="grow px-6 py-8">
            <div class="mx-auto prose prose-invert">
                {% if item.lesson_material %}
                {{ item.lesson_material.content|markdownify }}
                {% elif item.problem %}
                {{ item.problem.content|markdownify }}
                {% endif %}
            </div>

            {% if item.problem %}
                <div class="max-w-prose mx-auto my-6">
                    {% if user.is_authenticated %}
                        <h2 class="text-white font-bold text-2xl mb-4">Odovzávanie programu</h2>
                        {% submit_form item.problem lesson_item_id=item.id %}

                        {% if submits %}
                        <h2 class="text-white font-bold text-2xl mt-10 mb-4">Posledné submity</h2>
                        {% submit_list submits lesson_item_id=item.id %}
                        {% endif %}
                    {% else %}
                        <div class="w-full rounded-md px-4 py-3 bg-red-900 border border-red-600 text-white">
                            Ak chceš riešiť túto úlohu, musíš sa najprv <a href="{% url 'oidc_authentication_init' %}" class="underline hover:text-red-300">prihlásiť</a>.
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="max-w-prose mx-auto flex flex-wrap gap-2 my-10">
                {% if previous_item %}
                    <a href="{% url 'lesson' lesson.course.slug lesson.slug previous_item.slug %}" class="btn">
                        <i data-feather="arrow-left" class="h-4"></i>
                        Späť
                    </a>
                {% endif %}
                {% if next_item %}
                    <a href="{% url 'lesson' lesson.course.slug lesson.slug next_item.slug %}" class="btn ml-auto">
                        Ďalej
                        <i data-feather="arrow-right" class="h-4"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
