{% extends 'common/base.html' %}

{% block title %}Zoznam kurzov {{ block.super }}{% endblock %}

{% block body %}
    <div class="container mx-auto flex flex-col lg:flex-row py-10 lg:py-16 px-6 lg:items-center">
        <div class="lg:max-w-lg">
            <h1 class="tracking-tight text-3xl text-white font-bold lg:text-5xl">Zoznam kurzov</h1>
            <p class="mt-6 text-gray-400">
                KSP School obsahuje kombináciu tých najkvalitnejších materiálov a úloh, pomocou ktorých naučíme programovať aj teba!
            </p>
        </div>
    </div>



    {% for object in object_list %}
    <div class="container mx-auto px-6 py-6">
        <h1 class="tracking-tight text-xl text-white font-bold lg:text-3xl mb-6">{{ object.name }}</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1">
        {% for course in object.courses.all %}
            <a href="{% url 'course_detail' course.slug %}" class="text-gray-400 p-6 flex flex-col text-center hover:bg-gray-800 cursor-pointer lg:items-center gap-4 rounded-md">
                {% if course.image %}
                <img src="{{ course.image.url }}" class="w-20 h-20 border border-gray-600 rounded-md shadow-inner">
                {% endif %}

                <div class="w-full">
                    <h2 class="text-white font-bold text-xl lg:text-2xl">{{ course.name }}</h2>
                    <p class="mt-2">
                        {{ course.short_description }}
                    </p>

                    <div class="rounded-md bg-gray-700 w-full h-2 mt-4">
                        <div class="rounded-md bg-blue-600 h-2" style="width: 33%"></div>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
    {% endfor %}



{% endblock %}
